<div class="container searchpage">

  <div>
    <h1>Operation Type</h1>
    <hr />

    <div class="form-row">

      <div class="form-group col-md-4">
        <label>Market Type</label>
        <select id="t-market" class="form-control">
          <option selected>Assets</option>
          <option>Services</option>
        </select>
      </div>

      <div class="form-group col-md-3">
        <label for="inputState">Exchange Rate</label>
        <select id="t-trade" class="form-control">
          <option selected>Import</option>
          <option>Export</option>
        </select>
      </div>

    </div>

    <h1>Search Period</h1>
    <hr />

    <div class="form-row">

      <div class="form-group col-md-4">
        <label for="y-initial">Initial Year</label>
        <select id="inputState" class="form-control">
          <option selected>2018</option>
          <option *ngFor="let year of years">{{year}}</option>
        </select>
      </div>

      <div class="form-group col-md-3">
        <label for="y-final">Final Year</label>
        <select id="inputState" class="form-control">
          <option selected>2018</option>
          <option *ngFor="let year of years">{{year}}</option>
        </select>
      </div>

    </div>

    <input type="checkbox" (change)="show=!show">{{show ? 'Advanced Search' : 'Advanced Search'}}

    <div *ngIf="show">

      <h1>Advanced Options</h1>
      <hr />

      <div class="form-row">

        <div class="form-group col">
          <label>Grouping</label>
          <select id="group" class="form-control">
            <option selected>Economic Block</option>
            <option>Option 2</option>
          </select>
        </div>

        <div class="custom-control custom-checkbox col">
          <label>Show Value In</label>
          <div class="row">
            <div class="col-3">
              <input type="checkbox" class="form-checkbox"> US FOB<br>
            </div>
            <div class="col-6">
              <input type="checkbox" class="form-checkbox"> New Weight<br>
            </div>
          </div>
        </div>

        <div class="w-100"></div>

        <div class="form-group col">
          <label>Economic Block</label>
          <select id="eco-block" class="form-control">
            <option selected>Europian Union</option>
            <option>South American</option>
          </select>
        </div>

        <div class="form-group col">
          <label>Detail by Month</label>
          <div class="row">
            <div class="col-auto">
              <select id="month-initial" class="form-control">
                <option selected>January</option>
                <option>February</option>
              </select>
            </div>
            <div class="col-auto">
              <select id="month-final" class="form-control">
                <option selected>March</option>
                <option>April</option>
              </select>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="row justify-content-end">
      <div class="col-auto">
        <button type="button" class="btn btn-query">Query</button>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-clear">Clear</button>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Name</th>
          <th scope="col">FOB Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let value of data.edges">
          <td>{{value.node.date}}</td>
          <td>{{value.node.ncm.ncmNamePt}}</td>
          <td>{{value.node.fobValue}}</td>
        </tr>
      </tbody>
    </table>

  </div>