<section class="logo-header">
    <div class="container homepage">
        <div class="row align-items-center">
            <div class="col-6 mx-auto col-md-6 order-mid-2">
                <img src="/src/assets/img/logo.png" class="img-fluid mb-3 mb-md-0 logo" alt="logo" width="1024" height="860">
            </div>
            <div class="col-md-6 order-mid-1 text-md-left pr-md-5">
                <h1>What is Comexserv?</h1>
                <p>Portal for free access to Brazil's foreign trade statistics. Create detailed queries of Brazilian
                    exports and imports with the various variables in the statistical database.</p>
                <p>
                    <a class="btn btn-primary btn-lg rounded" href="search">Try it out &raquo;</a>
                </p>
            </div>
        </div>
    </div>
</section>