<section class="logo-header">
    <div class="container homepage">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-12 text-center header-content">
                <img src="src/assets/img/logo.png" class="img-fluid logo" alt="logo">
                <h1>What is Comexserv?</h1>
                <p>Portal for free access to Brazil's foreign trade statistics. Create detailed queries of Brazilian
                    exports and imports with the various variables in the statistical database.</p>
                <p>
                    <a class="btn btn-primary rounded" href="search">Try it out!</a>
                </p>
            </div>
        </div>
    </div>
</section>