<div class="container homepage">
    <div class="row">
        <img class="col-lg-5" src="src/assets/img/busca.jpg" alt="ComexStat Photo">
        <div class="col-lg-6">
            <div class="row">
                <h1>What is Comexstat?</h1>
                <p>
                    Portal para acesso gratuito às estatísticas de comércio exterior do Brasil. Crie consultas detalhadas das exportações e importações brasileiras com as diversas variáveis da base de dados estatísticos.
                </p>
            </div>
            <div class="row">
                <a href="search"><button type="button" class="btn btn-primary">Try it out!</button></a>
            </div>
        </div>
    </div>
</div>