.navbar{
    padding: .7em 10% .7em 10%;
    background-color: #17c13d;
}

.navbar .nav-item .nav-link {
    color: white;
    padding-right: 1em;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.page-footer {
    font-family: 'Nunito', sans-serif;
    background-color: #313131;
    color: rgba(255, 255, 255, 0.555);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.page-footer a {
    color: white;
}